<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>App Home Page</title>
        <link id="style" rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}"></link>
        <script>
            window.onload = function(){
                var style = document.getElementsByTagName('link')[0];
                var test = localStorage.getItem("style");
                
                if (test == "contrast.css") {
                    style.setAttribute('href', "{{ url_for('static',filename='styles/contrast') }}.css");
                    document.getElementById('home').src = "{{ url_for('static',filename='pics/settingsWhite.jpeg') }}";
                }
                else {
                    style.setAttribute('href', "{{ url_for('static',filename='styles/style') }}.css");
                }

                var size = localStorage.getItem("fntSz");
                var slide = document.getElementById('font-size');
                if (size) {
                    document.body.style.fontSize = size + 'px';
                    slide.value = size;
                }
                else {
                    document.body.style.fontSize = '12px';
                }
                
            };
        </script>
    </head>
    <body>
        <div class="main">
            <div class="header">
                <h1 style="text-align: center; font-size: 150%;"> Notify </h1>
                <!-- <img src="gears_006.jpeg" alt="Setdftings"> -->
                <a style="float: right; font-size: 50%;"" href="{{ url_for('settings') }}"><img src="{{ url_for('static',filename='pics/settings.png') }}" alt="Settings" width="80" height="80" id="home"></a>
            </div>
            <div class="content">
            <div class="windows" style="width: 65%; float: left;">
                <h3>Feed</h3>
            </div>
            <div class="windows" style="width: 35%; float: right;">
                <h3>Customize</h3>
                <div class="shift-left">
                    <h5>Categories</h5>
                    <input type="checkbox" id="category1" name="category1" value="All">
                    <label for="category1"> All</label><br>
                    <input type="checkbox" id="category2" name="category2" value="Work">
                    <label for="category2"> Work</label><br>
                    <input type="checkbox" id="category3" name="category3" value="Personal">
                    <label for="category3"> Personal</label><br>
                </div>
                <div class="shift-left">
                    <h5>Sort</h5>
                    <input type="radio" id="sort1" name="sorting" value="All Latest Recieved">
                    <label for="sort1">All Latest Recieved</label><br>
                    <input type="radio" id="sort2" name="sorting" value="All Earliest Recieved">
                    <label for="sort2">All Earliest Recieved</label><br>
                </div>
                <div class="shift-left">
                    <h5>Filter</h5>
                    <label for="birthdaytime">From:</label>
                    <input type="datetime-local" id="birthdaytime" name="birthdaytime">
                    <br> <br>
                    <label for="birthdaytime">To: &nbsp; &nbsp;</label>
                    <input type="datetime-local" id="birthdaytime" name="birthdaytime">
                </div>
                <div class="shift-left">
                    <h5>Find creator/influncer</h5>
                    <form class="grid" action="/result" method="POST">

                        <label for="Apisearch">Search:</label>
                        <input type="text" id="name" name="name">
                        <input type="Submit" class="file_submit">
                        {% if name|length > 1 %}
                            {% if name[0] is not string %}
                                <ul id="myList"></ul>                            
                                <p>Related Youtube Channels: <br>
                                {% for item in name[0] %}
                                <div class = "yt_results">
                                    {{item[0]}}
                                    <img src={{item[1]}} alt="image" style="vertical-align:middle;width:50px;height:50px;">
                                    <a href={{item[2]}}>Go to channel!</a><br>
                                </div>
                                {% endfor %}
                                </p>

                            {% elif name[0] is string %}
                                <p><br> {{name[0]}}</p>
                                <!-- error handling for twitter-->
                            {% endif %}

                            {% if name[1] is not string %}
                            <p>Related twitter accounts:<br>
                            
                            {% for item in name[1] %}
                            <div class = "yt_results">
                                {{item[0]}}
                                <img src={{item[2]}} alt="image" style="vertical-align:middle;width:50px;height:50px;">
                                <a href={{item[1]}}>Go to account!</a><br>
                            </div>
                            {% endfor %}
                            </p>
                            {% elif name[1] is string %}
                            <p><br>{{name[1]}}</p>
                            {% endif %}
                        {% endif %}
                    </form>
                </div>  
        
            </div>
            </div>
        </div>
    </body>
</html>