<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>App Settings</title>
        <link id="style" rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}"></link>
        <!-- <script type="text/javascript" src="{{ url_for('static',filename='functions.js') }}"></script> -->
        <script>
            window.onload = function(){
                var size = localStorage.getItem("fntSz");
                var slide = document.getElementById('font-size');
                if (size) {
                    document.body.style.fontSize = size + 'px';
                    slide.value = size;
                }
                else {
                    document.body.style.fontSize = '12px';
                }

                var style = document.getElementsByTagName('link')[0];
                if (localStorage.getItem("style") == "contrast.css") {
                    style.setAttribute('href', "{{ url_for('static',filename='styles/contrast') }}.css");
                    document.getElementById('contrast').checked = true;
                    document.getElementById('home').src = "{{ url_for('static',filename='pics/homeWhite.png') }}";
                }
                else {
                    style.setAttribute('href', "{{ url_for('static',filename='styles/style') }}.css");
                }
                // if (localStorage.getItem("style") == "contrast.css") {
                //     if (localStorage.getItem("blueMode") == "yellow") {
                //         document.body.style.color = 'LemonChiffon';
                //         document.getElementById('blueLight').checked = true;
                //     }
                //     else {
                //         document.body.style.color = 'White';
                //         document.getElementById('blueLight').checked = false;
                //     }
                // }
                // else {
                //     document.body.style.color = 'Black';
                //     if (localStorage.getItem("blueMode") == "yellow") {
                //         document.getElementById('blueLight').checked = true;
                //     }
                //     else {
                //         document.getElementById('blueLight').checked = false;
                //     }
                // }
            };
        </script>
    </head>
    <body>
        
        <div class="main">
            <div>
                <h1 style="text-align: center; font-size: 150%;"> Settings </h1>
                <!-- <img src="gears_006.jpeg" alt="Setdftings"> -->
                <a style="display: inline; float: right; font-size: 50%;"" href="{{ url_for('home') }}"><img src="{{ url_for('static',filename='pics/home.png') }}" alt="Home" width="80" height="80" id="home"></a>
            </div>
            <div>
            <div style="width: 50%; float: left;">
                <h3 style="font-size: 100%;">Connectivity</h3>
                <p align="center">
                    <a href="/authorize">
                    <img id="google"
                        src="https://img.shields.io/badge/Google-Connect-brightgreen?style=for-the-badge&labelColor=black&logo=google"
                        alt="Google"> <br>
                    </a>
                    <a href="twitter/">
                    <img id="twitter"
                        src="https://img.shields.io/badge/Twitter-Connect-brightgreen?style=for-the-badge&labelColor=black&logo=twitter"
                        alt="Twitter"> <br>
                    </a>
                </p>
            </div>
            <div style="width: 50%; float: right;">
                <h3 style="font-size: 100%;">Appearance</h3>
                <div class="userText">
                    <!-- <h5>Text Size</h5> -->
                    <div class="container">
                        <h4 style="font-size: 75%;">Change Text Size</h4>
                        <input type="range" min="12" max="72" value="16" id="font-size" />
                        <script>
                            var slider = document.getElementById('font-size');

                            slider.addEventListener('input', function() {
                                var size = slider.value;
                                // this sets the body's font size property, but you can set whatever you need to
                                document.body.style.fontSize = size + 'px';
                                localStorage.setItem("fntSz", size);
                            });
                        </script>
                        
                        <br>
                        <br>
                        <br>

                    </div>
                    <div style="flex-direction:row; display: flex;">
                        <div>
                        <label class="switch">
                            <input type="checkbox" id="contrast">
                            <span class="slider round"></span>
                        </label>
                        </div>
                        <div style="width: 80%;">
                            <h4 style="font-size: 75%;">Toggle High Contrast Mode</h4>
                        </div>
                        <script>
                            var toggle = document.getElementById('contrast')
                            var style = document.getElementsByTagName('link')[0];

                            toggle.addEventListener('input', function() {
                                if(toggle.checked) {
                                    style.setAttribute('href', "{{ url_for('static',filename='styles/contrast') }}.css")
                                    localStorage.setItem("style", "contrast.css");
                                    document.getElementById('home').src = "{{ url_for('static',filename='pics/homeWhite.png') }}";
                                    if(toggle2.checked) {
                                        document.body.style.color = 'LemonChiffon';
                                    }
                                    else {
                                        document.body.style.color = 'White';
                                    }
                                    
                                }
                                else{
                                    style.setAttribute('href', "{{ url_for('static',filename='styles/style') }}.css");
                                    localStorage.setItem("style", "style.css");
                                    document.getElementById('home').src = "{{ url_for('static',filename='pics/home.png') }}";
                                    document.body.style.color = 'Black';
                                }
                            });
                        </script>
                    </div>
                    <br>
                    <br>
                    <div style="flex-direction:row; display: flex;">
                        <div>
                        <label class="switch">
                            <input type="checkbox" id="blueLight">
                            <span class="slider round"></span>
                        </label>
                        </div>
                        <div style="width: 80%;">
                            <h4 style="font-size: 75%;">Toggle Blue Light Filter</h4>
                        </div>
                        <script>
                            var toggle2 = document.getElementById('blueLight');

                            toggle2.addEventListener('input', function() {
                                if (localStorage.getItem("style") == "contrast.css") {
                                    if(toggle2.checked) {
                                        document.body.style.color = 'LemonChiffon';
                                        localStorage.setItem("blueMode", "yellow");
                                    }
                                    else{
                                        document.body.style.color = 'White';
                                        localStorage.setItem("blueMode", "white");
                                    }
                                }
                                else {
                                    document.body.style.color = 'Black';
                                }
                            }
                            );
                        </script>
                    </div>
                    <!-- <input type="submit"> -->
                </div>
            </div>
            </div>
        </div>
    </body>
</html>